.image-container {
    position: relative;
    width: 400px;
}

.image-container img {
    display: block;
    width: 1260px;
    height: 550px;
}

.overlay-text {
    position: absolute;
    width: 300px;
    top: 500px;
    left: 40px;
    transform: translate(-10%, -50%);
    color: rgb(0, 0, 0);
    align-items: center;
}

/* Dropdown */
.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: absolute;
    top: -515px;
    left: 550px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 200px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

/* Sub-dropdown */
.sub-dropdown {
    position: relative;
}

.sub-dropdown-content {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    background-color: #e1e1e1;
    min-width: 180px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
}

.sub-dropdown:hover .sub-dropdown-content {
    display: block;
}

.sub-dropdown-content a {
    padding: 10px 14px;
}